<div>
  <button (click)="reset(); showLab3()">LAB3</button>
  <button (click)="reset(); showLab4()">LAB4</button>
  <button (click)="reset(); showHomework1()">HOMEWORK1</button>
  <button (click)="reset(); showHomework2()">HOMEWORK2</button>
  <button (click)="reset(); showHomework3()">HOMEWORK3</button>
  <button (click)="reset(); showHomework4()">HOMEWORK4</button>
  <hr />

  <div>
    <app-counting *ngIf="status.isLab3"></app-counting>
    <app-lab4 *ngIf="status.isLab4"></app-lab4>
    <app-home *ngIf="status.isHomework1"></app-home>
    <app-to-do-list *ngIf="status.isHomework2"></app-to-do-list>
    <app-to-do-list-deleteable
      *ngIf="status.isHomework4"
    ></app-to-do-list-deleteable>
  </div>
</div>
